
.article{
    width: 715px;
    height: 300px;
}  
.articledet{
    width: 715px;
}
.login_area{
    align-content: center;
    margin: auto;
    width: 338px;
    text-align:center;
}
.inputtext{
    text-align: right;
}
.pass{
    margin-top: 10px;
}
#articlesArea{
    align-content: center;
    margin: auto;
    width: 243px;
    text-align:left;
}