body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
    max-width:800px;
    margin:0 auto;
    color:#4a4a4a;
    padding-left:10px;
    padding-right:10px;
    font-family:sans-serif;
}
.style{
    margin-left: auto;
    min-height: 250px;
    display: inline;
    width: 100%;
    font: -webkit-mini-control;
    border: burlywood;
}